body{
    font-family: 'Lato', sans-serif;

}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#parent1 {
    /* border: 2px solid red; */
    height: 294px;
    width: 293px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 12vh;
    left: 16vh;
    box-shadow: 50px 10px 10px whitesmoke;
    border-radius: 10px;

}

#parent2 {
    /* border: 2px solid red; */
    height: 294px;
    width: 293px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -33.5vh;
    left: 80vh;
    box-shadow: 50px 10px 10px whitesmoke;
    border-radius: 10px;

}

#parent3 {
    /* border: 2px solid red; */
    height: 294px;
    width: 293px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -79vh;
    left: 145vh;
    box-shadow: 50px 10px 10px whitesmoke;
    border-radius: 10px;
}

#parent4 {
    /* border: 2px solid red; */
    height: 294px;
    width: 293px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -74.5vh;
    left: 80.29vh;
    box-shadow: 50px 10px 10px whitesmoke;
    border-radius: 10px;

}

#parent5 {
    /* border: 2px solid red; */
    height: 294px;
    width: 293px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -120.5vh;
    left: 16vh;
    box-shadow: 50px 10px 10px whitesmoke;
    border-radius: 10px;

}
#parent6 {
    /* border: 2px solid red; */
    height: 294px;
    width: 293px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -166.0002vh;
    left: 145vh;
    box-shadow: 50px 10px 10px whitesmoke;
    border-radius: 10px;

}
#parent7 {
    /* border: 2px solid red; */
    height: 294px;
    width: 293px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -162vh;
    left: 16vh;
    box-shadow: 50px 10px 10px whitesmoke;
    border-radius: 10px;

}
.one {
    /* border: 2px solid pink;    */
    height: 15%;
    width: 293px;
    position: relative;
    background-color: #F5F5F5;
    bottom: 43%;
    padding-left: 14px;
    padding-top: 6px;
    font-size: large;
}

.two {
    width: 293px;
    height: 12%;
    border-bottom: 2px solid #FF9800;
    padding-top: 7px;
    position: absolute;
    top: 6vh;


}

.three {
    width: 293px;
    height: 12%;
    border-bottom: 2px solid #FF9800;
    padding-top: 7px;
    /* border: 2px solid black; */
    position: absolute;
    top: 11vh;
}

.four {
    width: 293px;
    height: 12%;
    border-bottom: 2px solid #FF9800;
    padding-top: 7px;
    /* border: 2px solid black; */
    position: absolute;
    top: 16vh;

}

.five {
    width: 293px;
    height: 12%;
    border-bottom: 2px solid #FF9800;
    padding-top: 7px;
    /* border: 2px solid black; */
    position: absolute;
    top: 21vh;

}

.six {
    width: 293px;
    height: 12%;
    border-bottom: 2px solid #FF9800;
    padding-top: 7px;
    /* border: 2px solid black; */
    position: absolute;
    top: 26vh;

}

.seven {
    width: 293px;
    height: 12%;
    border-bottom: 2px solid #FF9800;
    padding-top: 7px;
    /* border: 2px solid black; */
    position: absolute;
    top: 31vh;

}

.eight {
    width: 293px;
    height: 10%;
    /* border: 2px solid green; */
    position: absolute;
    top: 41vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.hi {
    background-color: #5A7670;
    height: 30px;
    color: white;
    width: 49%;
    padding-top: 5px;

}

.hii {
    background-color: #FF9800;
    color: white;
    height: 30px;
    width: 49%;
    padding-top: 5px;
}

.num {
    color: #FE9900;
}

span {
    color: rgb(74, 74, 74);
}

a {
    text-decoration: none;
    color: #4A4A4A;
}

nav {
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
}

.n1 {
    padding: 3vh;
    color: #4A4A4A;
}

.n2 {
    padding: 3vh;
    color: #4A4A4A;
}

.n3 {
    padding-left: 10px;
    padding-top: px;
    height: 60px;
    /* width: 100px; */

}

a:hover {
    color: #FDAF30;
}

.z {
    /* border: 1px solid red; */
    height: 15px;
    display: flex;
    width: 100%;
}

.z1 {
    width: 150px;
    height: 25px;
    /* border: 1px solid deeppink; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: small;
    color: white;
}
#lo{
    padding-top: 2px;
}


.middle{
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 80vh;
    font-size: larger;
    
}
.sub1{
    
    position: relative;
    right: 110px;
 
}
.sub2{
    position: relative;
    right: 100px;
}
.sub3{
    position: relative;
    right: 90px;
}
.sub4{
    position: relative;
    right: 80px;
}
.sub5{
    position: relative;
    right: 70px;
}